* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Rubik:wght@300&display=swap');

.logo {
    height: 100px;
    width: 150px;
}

.headerComponent {
    display: flex;
    background-color: black;
    justify-content: space-around;
    height: 14vh;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    ;

}

.anchorTag {
    width: 90%;
    margin-left: 5%;
    font-weight: 500;
    font-size: 1.2rem;
}

.anchorTag a {
    margin: 3%;
    text-decoration: none;
    color: aliceblue;
}

.iconSearch {
    color: white;
    margin-right: 7%;
    font-size: 1.5rem;

}

.iconSearch:hover {
    color: rgb(255, 77, 0);
}

.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    

}