* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* .forSpace {
  
  height: 200px;
} */

/* .bannerImg {
  height: 300px;
  width: 400px;
} */

/* .bannerContainer {
  height: 50vh;
  margin-top: 20px;
  background-color: rgb(250, 215, 215);
  display: flex;
  justify-content: space-around;
} */

/* .content {
  width: 800px;
} */